body {
    background: linear-gradient(45deg,#4158d0,#c850c0);
}

.card-header {
    background: #36304A;
}

.card {
    border: none;
}

.card-header {
    color: white;
    font-size: 24px;
}

.filter-card {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-card input:not(:last-child) {
    margin-right: 20px;
}

.overview {
    color: #c850c0;
    text-decoration: underline;
}

tbody {
    color: grey;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

/*sort*/

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}
